.card{
  padding: 10px;
  border-radius: 10px;
  position: relative;
  background-color: darkslateblue;
  color: white;
  display: flex;
  flex-direction: column;
  transition: scale 0.5s ease;
  border: 1px solid white;
  align-items: center;
}
.card h2{
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
}
.card p{
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}
.card:hover{
  transform: scale(1.05);
}